.header {
    background-color: #fff;
    border-bottom: solid 1px #bbb;
}

.header__inner {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 1230px;
}

.header__logo {
    color: #663f35;
    font-family: "Crimson Text", serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}