.confirm {
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
}

.confirm__heading {
    margin: 20px auto;
    text-align: center;
    color: #663f35;
    font-family: "Crimson Text", serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    margin: 10px;
}

.confirm__content {
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
}

.confirm__content {
    width: 100%;
    height: 100%;
}

.confirm-table {
    display: inline-block;
    align-items: center;
    width: 70%;
    height: 100%;
}