.contact-form__content {
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
}

.contact-form__heading {
    margin: 20px auto;
    text-align: center;
    color: #663f35;
    font-family: "Crimson Text", serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    margin: 10px;
}

.form__group {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
}

.form__group--detail {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 20px;
}

.group__title {
    width: 20%;
}

.title__name {
    color: #663f35;
    text-decoration: none;
    font-size: 20px;
}

.title__required {
    color: red;
}

.group__content {
    width: 70%;
    height: 100%;
}

.content__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content__input--gender {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
}

label {
    color: #663f35;
    font-family: "Crimson Text", serif;
    white-space: nowrap;
    margin-right: 100px;
}

.input__name {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 45%;
    height: 100%;
    padding-left: 20px;
}

.input__gender {
    accent-color: #663f35;
    border-color: #663f35;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 50%;
    height: 50%;
    padding-left: 20px;
}

.input__email {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.input__tel {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    text-align: center;
    display: inline-block;
    width: 30%;
    height: 100%;
}

.input__address {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.input__building {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.input__kinds {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 20px;
}

.input__detail {
    background-color: #ddd;
    border: none;
    color: #663f35;
    font-family: "Crimson Text", serif;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.form__button {
    text-align: center;
    height: 100%;
}

.button__submit {
    background-color: #663f35;
    color: #fff;
    width: 15%;
    height: 40px;
    font-size: 20px;
}